.modal {
    position: absolute;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 0;
    cursor: pointer;
}

.modal-table {
    padding: 10px;
    position: relative;
    z-index: 2;
    width: 300px;
    min-height: 250px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0,0,0 0.2);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-close {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 20px;
    width: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
